h1
{
color:red;
}
#p1
{
background-color:Pink;
}
#p2
{
	background-color:KHaki;
}
i
{
	color:green;
	background-color:pink;
}
u
{
	color:gray;
	background-color:green;
}
body
{
	background-color:blue;
}